.container {
  width: 100%;
  text-align: center;
}

.titulo {
  border: 1px solid var(--white);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.table th {
  border: 1px solid var(--white);
  padding: 0.5rem;
}

.table:first-of-type {
  margin-bottom: 0;
}

.table + .table {
  margin-top: 1rem;
}
